/* stylesheet.css */

.container {
    display: flex;
    flex-direction: column;
}

.header, .footer{
    border: solid 6px;
    background-color: seagreen;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerlogo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: solid 5px;
    border-radius: 10px;
}

.headerlink {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-top: 20px;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    margin: 10px;
    color: beige;
}

.maincontent {
    display: flex;
    justify-content: center;
    background-color: cyan;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}

.p1 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.maincontentimage {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.button, .calltoaction {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.quotesection {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}