/* stylesheet.css */

.container {
    display: flex;
    flex-direction: column;
    background-color: cyan;
}

.navbar, .footer{
    border: solid 6px;
    background-color: seagreen;
}

.headerlogo {
    margin-top: 10px;
    margin-left: 10px;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.headerlink {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold #F9FAF8;
}

p {
    font-size: 18px;
    color: black;
}

.button, .calltoaction {
    background-color: #3882F6;
}

.quotesection {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}